/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 .banner7{margin-top:35px;}
/* Browser Resets */
.oc-banner7-container .flex-container a:active,
.oc-banner7-container .flexslider a:active,
.oc-banner7-container .flex-container a:focus,
.oc-banner7-container .flexslider a:focus  {outline: none;}
.oc-banner7-container .slides,
.oc-banner7-container .flex-control-nav,
.oc-banner7-container .flex-direction-nav {ocrgin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.oc-banner7-container .flexslider {ocrgin: 0; padding: 0;}
.oc-banner7-container .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position: relative; } /* Hide the slides before the JS is loaded. Avoids iocge jumping */
.oc-banner7-container .flexslider .slides img {width: 100%; display: block;}
.oc-banner7-container .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.oc-banner7-container .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .oc-banner7-container .slides {display: block;} 
* html .oc-banner7-container .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, ocke sure you
 * include js that eliminates this class on page load */
.no-js .oc-banner7-container .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.oc-banner7-container .flexslider {ocrgin: 0 0 0px 0; position: relative; zoom: 1;}
.oc-banner7-container .flex-viewport {ocx-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.oc-banner7-container .loading .flex-viewport {ocx-height: 300px;}
.oc-banner7-container .flexslider .slides {zoom: 1;}

.oc-banner7-container .carousel li {ocrgin-right: 5px}
/* Direction Nav */
.banner7 .nivo-directionNav {
	margin: 0;
	min-height: 40px;
	width: 100%;
	position: absolute;
	top:50%;
	z-index: 10;
	opacity:0;
}
.banner7:hover .nivo-directionNav { opacity:1; }
.oc-nivoslider .nivo-directionNav a {
	background: url("images/arrows.png") no-repeat scroll 0 0;
	cursor: pointer;
	height: 40px;
	text-indent: -9999px;
	width: 40px;
	z-index: 7;
	position: absolute;
	opacity:1;
	transition:0s;
}
.oc-nivoslider .nivo-directionNav a:hover { opacity:0.8; transition:0s; }
.oc-nivoslider .nivo-directionNav .nivo-nextNav {
	background-position: 100% 0;
	right: 20px;
}
.oc-nivoslider .nivo-directionNav .nivo-nextNav:hover {
	background-position: 100% 100%;
}
.oc-nivoslider .nivo-directionNav .nivo-prevNav {
	left: 20px;
}
.oc-nivoslider .nivo-directionNav .nivo-prevNav:hover {
	background-position: 0 100%;
}
.nivo-prevNav {
	left:5px;
}
.nivo-nextNav {
	right:0px;
}
.oc-banner7-container .flex-direction-nav {*height: 0;}
.oc-banner7-container .flex-direction-nav a,
.oc-banner7-container .flex-direction-nav .flex-next,
.oc-banner7-container .flex-direction-nav .flex-prev,
.oc-banner7-container .flexslider:hover .flex-next:hover, .oc-banner7-container .flexslider:hover .flex-prev:hover {opacity: 1;}
.oc-banner7-container .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
/* Control Nav */
.nivo-controlNav {
	text-align:center;
	padding:0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.oc-banner7-container .flex-control-nav,
.nivo-controlNav {width: 100%; position: absolute; bottom: 10px; text-align: center;}
.oc-banner7-container .flex-control-nav li { ocrgin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.oc-banner7-container .flex-control-paging li a,
.nivo-controlNav a {width: 11px; height: 11px; display: block; background: #aaa; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; box-shadow: inset 0 0 3px rgba(0,0,0,0.3); z-index: 9; }
.oc-banner7-container .flex-control-paging li a:hover,
.oc-banner7-container .flex-control-paging li a.flex-active,
.nivo-controlNav a:hover,
.nivo-controlNav a.active {
	cursor: pointer;
    height: 12px;
    line-height: 12px;
    width: 12px;
	background:#35ada9;
}


.oc-banner7-container .flex-control-thumbs {ocrgin: 5px 0 0; position: static; overflow: hidden;}
.oc-banner7-container .flex-control-thumbs li {width: 25%; float: left; ocrgin: 0;}
.oc-banner7-container .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.oc-banner7-container .flex-control-thumbs img:hover {opacity: 1;}
.oc-banner7-container .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.oc-nivoslider {
	/*overflow: hidden;*/
}
.nivoslider {
	position: relative;
	overflow: hidden;
	height: auto;
	width: 100%; 
}
.nivoslider img {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.nivo-controlNav {
    padding: 0px 0;
    text-align: center;
}
.nivo-controlNav a {
    background-color: #333;
    border: 0 none;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    line-height: 12px;
    margin: 0 3px;
    position: relative;
    text-indent: -9999px;
    width: 12px;
}


.banner7-caption {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	background: none repeat scroll 0% 0% transparent;
	color: #FFF;
	font-size: 16px;
	z-index: 999;
}
@-webkit-keyframes timeloading {
  from {width: 0;}
  to {width: 100%;}
 }
 @keyframes timeloading {
  from {width: 0;}
  to {width: 100%;}
 }
.timeloading{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(249, 145, 82, 0.5);
	height: 5px;
}
.nivoSlider {
    position:relative;
    width:100%;
    height:auto;
    overflow: hidden;
}
.banner7-content{
	width: 600px;
	height: auto;
	position: absolute;
	text-align: left;
	top: 97px;
	right: 10px;
}
.banner7-content.slider-3 {
	top:180px;
	left:65px;
	text-align:left;
	right:inherit;
}
.banner7-content.slider-2{
	width:350px;
}
.bannerslideshow{position: absolute;top: 30%;right:5%;text-align:left;max-width: 80%;}

/*Slider1------------------------------------------------------------*/
.slider-1.banner7-content h1 {
	font-size:44px; 
	color:#ECF0F1;
	text-shadow:none;
	background:url("images/bg-title-sequence.png") repeat;
	text-transform:uppercase;
	font-family:'Montserrat';
	display:inline-block;
	margin:0;
	padding:3px 20px 5px;
}
.slider-1.banner7-content h2 {
	background:url("images/bg-title2-sequence.png") repeat 0 0;
	font-size:20px;
	font-weight:normal; 
	color:#FFF;
	text-transform:uppercase;
	font-family:'titilliumwebregular';
	margin:15px 0 0;
	padding:6px 10px;
	display:inline-block;
}
.slider-1.banner7-content .banner7-des{ 
	background: none;
	text-shadow: none;
	line-height: 26px;
	padding: 0;
	margin:15px 0 0;
	font-size: 14px;
	font-family: 'Montserrat';
	color: #777;
	font-weight: normal;
	text-transform: inherit;
}
.slider-1.banner7-content .banner7-readmore {
	margin:10px 0 0;
}
.slider-1.banner7-content .banner7-readmore a{
	border-radius: 5px;
	color: #FFF;
	text-shadow: none;
	display: inline-block;
	font-size: 12px;
	padding: 6px 26px 6px 18px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat';
}
.banner7-readmore a {
	background: url("images/icon-subtitle.png") no-repeat 80% 53% #939DA4;
}
.slider-1.banner7-content .banner7-readmore a {
	background: url("images/icon-subtitle.png") no-repeat 83% 53% #939DA4;
	border-bottom: 3px solid #818C95;
}
.slider-1.banner7-content .banner7-readmore a:hover {
  background: url("images/icon-subtitle.png") no-repeat 83% 53% #45D8BB;
  border-bottom: 3px solid #3BB89F;
}
.banner7-content .banner7-readmore a:hover{ color:#fff; background-color:#333; }
/*-------------------------------------------------------------*/

/*Slider2------------------------------------------------------------*/
.banner7-content h1 {
	font-size:14px; 
	color:#fff;
	text-shadow:none;
	text-transform:uppercase;
	font-family:'Montserrat';
	display:inline-block;
	width:100%;
	margin:0;
}
.banner7-content h2 {
	font-size: 48px;
	font-weight:bold; 
	color:#fff;
	text-transform:uppercase;
	font-family:'titilliumwebregular';
	margin:15px 0 0;
	display:inline-block;
}
.banner7-content h2:after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 3px solid #fff;
  margin-left: 5px;
 }
.banner7-content .banner7-des{ 
	background: none;
	text-shadow: none;
	line-height: 26px;
	padding: 0;
	margin:15px 0 0;
	font-size: 14px;
	font-family: 'Montserrat';
	color: #fff;
	font-weight: normal;
	text-transform: inherit;
}
.banner7-content .banner7-readmore {
	margin:10px 0 0;
}
.banner7-content .banner7-readmore a{
	background:#000;
	color: #FFF;
	text-shadow: none;
	display: inline-block;
	font-size: 12px;
	padding: 6px 26px 6px 18px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat';
}
.banner7-content .banner7-readmore a:hover{background:#ec5355;}
/*-------------------------------------------------------------*/
.slider-2.banner7-content h1 {color:#000;}
.slider-2.banner7-content h2 {color:#000;}
.slider-2.banner7-content .banner7-des {color:#000;}
.slider-2.banner7-content h2:after {
  border-bottom: 3px solid #000;
 }
/*Slider1---------------------------------------------------------*/
.banner7-content h1{
    -webkit-animation: fadeInDown 1000ms ease-in-out;
    -moz-animation: fadeInDown 1000ms ease-in-out;
    -ms-animation: fadeInDown 1000ms ease-in-out;
    animation: fadeInDown 1000ms ease-in-out;

}
.banner7-content h2{
    -webkit-animation: fadeInRight 1300ms ease-in-out;
    -moz-animation: fadeInRight 1300ms ease-in-out;
    -ms-animation: fadeInRight 1300ms ease-in-out;
    animation: fadeInRight 1300ms ease-in-out;

}
.banner7-content h3{
    -webkit-animation: fadeInRight 1500ms ease-in-out;
    -moz-animation: fadeInRight 1500ms ease-in-out;
    -ms-animation: fadeInRight 1500ms ease-in-out;
    animation: fadeInRight 1500ms ease-in-out;

}
.banner7-content .banner7-readmore{
-webkit-animation: fadeInUp 1800ms ease-in-out;
-moz-animation: fadeInUp 1800ms ease-in-out;
-ms-animation: fadeInUp 1800ms ease-in-out;
animation: fadeInUp 1800ms ease-in-out; 
}
.banner7-content .banner7-des{
    -webkit-animation: fadeInRight 1500ms ease-in-out;
    -moz-animation: fadeInRight 1500ms ease-in-out;
    -ms-animation: fadeInRight 1500ms ease-in-out;
    animation: fadeInRight 1500ms ease-in-out;
}
/*End-Slider1--------------------------------------------*/

/*Slider3---------------------------------------------------------*/
.slider-3.banner7-content h1{
    -webkit-animation: fadeInLeft 1500ms ease-in-out;
    -moz-animation: fadeInLeft 1500ms ease-in-out;
    -ms-animation: fadeInLeft 1500ms ease-in-out;
    animation: fadeInLeft 1500ms ease-in-out;

}
.slider-3.banner7-content h2{
    -webkit-animation: fadeInLeft 1800ms ease-in-out;
    -moz-animation: fadeInLeft 1800ms ease-in-out;
    -ms-animation: fadeInLeft 1800ms ease-in-out;
    animation: fadeInLeft 1800ms ease-in-out;

}
.slider-3.banner7-content h3{
    -webkit-animation: fadeInLeft 2200ms ease-in-out;
    -moz-animation: fadeInLeft 2200ms ease-in-out;
    -ms-animation: fadeInLeft 2200ms ease-in-out;
    animation: fadeInLeft 2200ms ease-in-out;

}
.slider-3.banner7-content .banner7-readmore{
-webkit-animation: fadeInUp 2200ms ease-in-out;
-moz-animation: fadeInUp 2200ms ease-in-out;
-ms-animation: fadeInUp 2200ms ease-in-out;
animation: fadeInUp 2200ms ease-in-out; 
}
.slider-3.banner7-content .banner7-des{
    -webkit-animation: fadeInLeft 2000ms ease-in-out;
    -moz-animation: fadeInLeft 2000ms ease-in-out;
    -ms-animation: fadeInLeft 2000ms ease-in-out;
    animation: fadeInLeft 2000ms ease-in-out;
}
/*End-Slider3--------------------------------------------*/


.banner7-content img.img1 {
    position:absolute;
    bottom:0px;
    left:0px;
    max-width: none;
    -webkit-animation: fadeInRight 1500ms ease-in-out;
    -moz-animation: fadeInRight 1500ms ease-in-out;
    -ms-animation: fadeInRight 1500ms ease-in-out;
    animation: fadeInRight 1500ms ease-in-out;
}
.banner7-content img.img2 {
    position:absolute;
    bottom:0px;
    right:0px;
    max-width: none;
    -webkit-animation: bounceInLeft 1500ms ease-in-out;
    -moz-animation: bounceInLeft 1500ms ease-in-out;
    -ms-animation: bounceInLeft 1500ms ease-in-out;
    animation: bounceInLeft 1500ms ease-in-out;
}

@media(max-width:992px){
.bannerslideshow{top: 10%;}
.banner7-content h1 span{}
.banner7-content h3{font-size: 1em;}
}
.oc-banner7-container .oc-loading {
	width: 16px;
	height: 16px;
	display:none;
	position: absolute;
	z-index: 99;
	background: url(../iocges/loader.gif) no-repeat ;
	top: 50%;
	left: 50%;
	ocrgin: -8px 0 0 -8px;
}


/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position: absolute;
	left: 0px;
	top: 0px;
	color: #FFF;
	width: 100%;
	z-index: 8;
	height: 100%;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}

.nivo-html-caption {
    display:none;
}
@media (max-width:1199px){
	#content .slider-2.banner7-content h1 { top:100px; }
	#content .slider-2.banner7-content h2 { top:150px; }
	.slider-2.banner7-content .banner7-des { top:185px; }
	.slider-2.banner7-content .banner7-readmore { top: 240px; }
	#content .banner7-content h1 { top:100px; }
	#content .banner7-content h2 { top:145px; }
	.banner7-content .banner7-des { top:175px; }
	.banner7-content .banner7-readmore { top:225px; }
}
@media (max-width:992px){
	#content .slider-2.banner7-content h1 { font-size:23px; top: 50px; }
	#content .slider-2.banner7-content h2 { font-size:18px; top: 85px; }
	.slider-2.banner7-content .banner7-des { top:115px; }
	.slider-2.banner7-content .banner7-readmore { top:162px; }
	#content .banner7-content h1 { font-size:23px; top:50px; }
	#content .banner7-content h2 { font-size:18px; top:85px; }
	.banner7-content .banner7-des { top:115px; }
	.banner7-content .banner7-readmore { top:162px; }
}